.sakura_main{
  font-size: 140%;
  font-family: Verdana;
  color: whitesmoke;
  width: 100%;
  background-color: purple;
  
}

.sakura_alt{
  font-size: 22px;
  background-color: purple;
  width: 100%;
  color: whitesmoke;
  font-family: Verdana;
}

a{
  font-size: 120%;
  color: whitesmoke;
  font-family: Verdana;
}

