.sakura_main{
  font-size: 140%;
  font-family: Verdana;
  color: whitesmoke;
  width: 100%;
  background-color: purple;

}

.sakura_alt{
  font-size: 22px;
  background-color: purple;
  width: 100%;
  color: whitesmoke;
  font-family: Verdana;
}
#sakura_background_alter{
  width: 100%;
  background-image: url("Img/908854.jpg");
}

a{
  font-size: 120%;
  color: whitesmoke;
  font-family: Verdana;
}

button{
  background-color: darkorchid;
  font-family: Verdana;
  color: whitesmoke;
  font-size: 80%;
}

table{
  background-image: url("Img/16915.png");
  background-color: darkorchid;
  width: 45px;
  height: 45px;
  font-family: Verdana;
  color: whitesmoke;
  font-size: 80%;
  
}
